<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        :root {
            --accent-color: {{ .Site.Params.AccentColor | default "#FF4D4D" }};
        }
    </style>

    {{ $title := .Title | markdownify | default .Site.Title }}
    {{ $description := ((.Description | default (.Summary | default .Content) | default .Site.Params.Description) | plainify | truncate 160) }}
    {{ $image := .Params.image | default (.Scratch.Get "avatarImgSrc") }}
    {{ $siteKeywords := .Site.Params.MetaKeywords | default (slice) }}
    {{ $postKeywords := .Params.tags | default (slice) }}
    {{ $keywords := union $siteKeywords $postKeywords }}

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ $title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ $description }}">
    <meta name="keywords" content='{{ delimit $keywords ", "}}'>
    {{ with .Site.Params.Author }}<meta name="author" content="{{ . }}">{{ end }}

    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:locale" content="{{ .Site.LanguageCode | default "en" }}">
    <meta property="og:url" content="{{ .Permalink }}">
    {{ if .IsPage }}<meta property="og:type" content="article">{{ else }}<meta property="og:type" content="website">{{ end }}
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:image" content="{{ absURL $image }}">
    <meta property="og:image:secure_url" content="{{ absURL $image }}">

    {{ if .IsPage }}
    {{ with .Date }}<meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ end }}
    {{ with .Lastmod }}<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ end }}
    {{ with .Site.Params.Author }}<meta property="article:author" content="{{ . }}">{{ end }}
    {{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">{{ end }}
    {{ end }}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ $description }}">
    <meta property="twitter:domain" content="{{ .Permalink }}">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:image" content="{{ absURL $image }}">

    <link rel="canonical" href="{{ .Permalink }}">

    {{ with .OutputFormats.Get "rss" -}}
    <link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" href="{{ .Permalink }}">
    {{- end }}

    {{ if .IsPage }}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": {{ $title }},
        "description": {{ $description }},
        "url": {{ .Permalink }},
        "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" }},
        "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }},
        {{ with $image }}"image": {{ absURL . }},{{ end }}
        "author": {
            "@type": "Person",
            "name": {{ .Site.Params.Author | default .Site.Title }},
            "url": {{ .Site.BaseURL }}
        },
        "publisher": {
            "@type": "Organization",
            "name": {{ .Site.Title }},
            "url": {{ .Site.BaseURL }}
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": {{ .Permalink }}
        }
        {{ if .Params.tags }},
        "keywords": [{{ range $i, $tag := .Params.tags }}{{ if $i }}, {{ end }}{{ $tag }}{{ end }}]
        {{ end }}
    }
    </script>
    {{ else if .IsHome }}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": {{ .Site.Title }},
        "description": {{ .Site.Params.Description | default .Site.Title }},
        "url": {{ .Site.BaseURL }}
    }
    </script>
    {{ end }}

    {{ $cssNormalize := resources.Get "css/normalize.min.css" }}
    <link rel="stylesheet" type="text/css" href="{{ $cssNormalize.RelPermalink }}" media="print">

    {{ $cssMain := resources.Get "css/main.css" | minify }}
    <link rel="stylesheet" type="text/css" href="{{ $cssMain.RelPermalink }}">

    {{ $cssDark := resources.Get "css/dark.css" | minify }}
    <link id="dark-theme" rel="stylesheet" href="{{ $cssDark.RelPermalink }}">

    {{ $jsBundle := resources.Match "js/**.js" | resources.Concat "js/bundle.js" | minify | resources.Fingerprint "sha256" }}
    <script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}"></script>

    {{ if .Site.Params.CustomHeadHTML }}
    {{ .Site.Params.CustomHeadHTML | safeHTML }}
    {{ end }}
</head>
